body {
    background-color: #222;
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: #222;
    color: #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3a;
    padding: 4vw;
    color: #fff;
}

    .header h1 {
        margin: 0;
        font-size: 8vw;
    }

.sidebar {
    background-color: #333;
    height: 8vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: 5vw;
    margin: 0.4vw;
    padding: 1vw;
    text-align: center;
    width: 24vw;
}

    button:hover {
        background-color: #555;
    }

.content {
    margin-bottom: 12vh;
    padding: 1.0016666667vw;
}


.box {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 76vh;
    overflow-y: scroll;
    padding: 2vw;
    width: 100%;
}

    .box label {
        margin: 2vw 0;
    }

label {
    background-color: transparent;
    border: none;
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: 4vw;
    padding-bottom: 0.6vw;
    text-align: left;
    width: 100%;
}

.box::-webkit-scrollbar {
    display: none;
}
